.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  padding: 0 10px;
  max-width: 100%;
}

.product-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: calc(33.33% - 20px); /* Default: Three items in one row */
  box-sizing: border-box;
  text-align: center;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.search-bar {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-sizing: border-box;
}

.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px auto 0;
  position: relative; /* Position the image relatively */
  display: block;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.about,
.logout {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.about {
  background-color: #fd5203;
  color: #fff;
  margin-right: 10px;
}

.logout {
  background-color: red;
  color: #fff;
}

/* Responsive styles for varying number of carts based on screen size */
@media screen and (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px); /* Two items in one row for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    width: calc(100% - 20px); /* One item in one row for even smaller screens */
  }
}
